.bars_body {
    background-color: #FBFBFB;
    border-radius: 10px;
}

.bars_body h2 {
    padding-left: 40px;
    padding-top: 20px;
}

.recharts-legend-item span {
    color: #74798C;
    padding: 0 10px 0 5px;
}

.bars_tooltip {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #E60000;
    color: white;
    font-size: 12px;
    padding: 15px;
}

@media (max-width:1024px) {

    .bars_body h2 {
        font-size: 18px;
        padding-left: 15px;
    }

    .recharts-legend-wrapper {
        top: -20px !important;
    }

    .recharts-legend-item span {
        padding: 0px 5px 0px 2px;
    }

    .bars_body text {
        font-size: 14px;
    }
}