.card_body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FBFBFB;
    border-radius: 10px;
    aspect-ratio: 2;
}

.card_icon {
    height: 80px;
    padding: 30px;
    aspect-ratio: 1;
}

.card_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 30px 30px 10px;
}

.card_value {
    font-size: 22px;
    font-weight: 700;
    color: #282D30;
}

.card_unit {
    font-size: 16px;
    font-weight: 500;
    color: #74798C;
}

@media (max-width:1024px) {
    .card_icon {
        padding: 16px;
        height: 60px;
    }

    .card_value {
        font-size: 18px;
    }

    .card_unit {
        font-size: 14px;
    }
}