.menu {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
    width: 120px;
}

.menuList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    top: 280px;
}

.menuBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    cursor: pointer;
}

.copyRight {
    position: absolute;
    bottom: 120px;
    color: white;
    font-size: 16px;
    transform: rotate(-90deg);
    min-width: 200px;
}

@media (max-width:1024px) {

    .menuList {
        top: 210px;
    }

    .menuBtn {
        width: 48px;
        height: 48px;
    }

    .copyRight {
        font-size: 12px;
    }
}