.round_body {
    display: flex;
    background-color: #FBFBFB;
    border-radius: 10px;
    flex: 30% 1 1;
    position: relative;
}

.round_title {
    position: absolute;
    color: black;
    margin: 20px 0px 0px 30px;
    font-size: 20px;
}

circle {
    fill: white;
}

.round_label_text {
    z-index: 1;
    position: absolute;
    top: -12px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round_achievement {
    font-size: 26px;
    font-weight: 700;
    color: #282D30;
}

.round_text_filler {
    text-align: center;
    font-size: 18px;
    color: #74798C;
}

@media (max-width:1024px) {
    .round_title {
        font-size: 14px;
        margin: 10px 0px 0px 15px;
    }

    .round_achievement {
        font-size: 18px;
    }

    .round_text_filler {
        font-size: 12px;
    }
}