.dashboard_body {
    margin: 60px 0px 0px 240px;
}

.headline {
    margin-bottom: 70px;
}

.headline h1 {
    color: black;
    margin: 0px;
    font-size: 50px;
}

.headline span {
    color: red;
}

.headline p {
    font-size: 18px;
}

h2 {
    margin: 0;
}

.dashboard_main {
    display: flex;
    width: 100%;
    gap: 50px;
}

.graphs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

.smallGraphs {
    display: flex;
    gap: 2%;
}

.cards_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 22%;
}

@media (max-width: 1024px) {
    .dashboard_body {
        margin: 25px 0px 0px 160px;
    }

    .dashboard_main {
        gap: 40px;
    }
}